
  .inra1menulist-menu:hover .dropdown-content-inra1 {
    display: flex;
    flex-direction: column;
  }
  .inra1menulist-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff !important;
    border-bottom: 1px solid #ddd;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
  }
  .inra1menulist-menu:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000 !important;
    cursor: pointer;
  }
  .inra1menulist-menu:hover > a {
    color: #000 !important;
  }

  .inra1menulist-menu > a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff !important;
  }

  .dropdown-content-active-inra1 {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000 !important;
    cursor: pointer;
  }

  .dropdown-content-active-inra1 > a {
    color: #000 !important;
  }

  .dropdown-content-inra1 {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    z-index: 102;
    margin-top: 10px;
    padding: 5px;
  }
  .dropdown-content-inra1 > a {
    width: inherit;
    padding: 10px;
    border: solid;
    border-width: 0px 0px 1px 0px;
    text-align: left;
    color: #fff;
  }
  .dropdown-content-inra1 > a:hover {
    background-color: #000;
  }
  .module-logo {
    width: 300px;
  }
  .inra1body {
    width: var(--max);
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
    gap: 20px;
    justify-content: space-between;
  }
  .inra1body > a {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    gap: 10px;
  }
  .inra1-title {
    font-size: 16px;
    font-weight: 500;
    color: --titlecolor--;
  }
  .inra1-spot {
    font-size: 16px;
    color: --spotcolor--;
  }
  .inra1-icon {
    font-size: 36px !important;
    color: --iconcolor--;
  }
  .inra1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .inra1title {
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inra1titlebody {
    color: #fff;
    width: var(--max);
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
  }
  .inra1titlebodytitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .inra1titlebodylang {
    width: auto;
    margin: -5px 0px -5px 0px;
  }
  .inra1titlebodylang ul {
    display: flex;
    gap: 5px;
    position: relative;
  }
  .inra1titlebodylang li {
    position: relative;
    list-style: none;
  }
  .inra1menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: var(--max);
  }
  .inra1menulist {
    width: calc(100% - 20px);
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .inra1menubody {
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inra1menulist {
    width: 100%;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    padding: 10px;
    /* overflow-x: auto; */
  }
  .inra1menulistbody {
    width: 100%;
  }
  @media screen and (max-width: 1024px) {
    .inra1menu {
      overflow-x: auto;
    }
    .inra1menulist {
      flex-direction: row;
    }
    .module-logo {
      width: 200px;
    }
    .inra1body {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


  #content {
    justify-content: start;
  }

  .k7327 {
    width: var(--max);
    margin-top: 20px;
    gap: 10px;
    float: left;
    position: relative;
  }

  .k7327-menu-btn {
    display: none;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    justify-content: space-between;
    align-items: center;
  }

  .k7327-menu-btn i {
    font-size: 20px;
  }

  .k7327-menu {
    width: 200px;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    float: left;
  }

  .k7327-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    float: right;
  }

  .k7327-menu > a {
    background-color: #fff;
    padding: 10px;
    float: left;
    border-radius: 5px;
  }

  .k7327-menu > .active,
  .k7327-menu > a:hover {
    background-color: #000;
    color: #fff;
    display: flex;
  }

  .k7327-desc-menu {
    width: 200px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }

  .k7327-desc-menu > div {
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    margin: 5px;
  }

  .k7327-desc-body {
    display: flex;
    justify-content: space-between;
  }

  .k7327-title {
    width: 100%;
    height: 200px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .k7327-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/page/h4qvry5vf3/bg/{{bgimg}}");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 1;
  }

  .k7327-title span {
    position: relative;
    z-index: 2;
    font-size: 32px;
  }

  .k7327-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
  }

  .k7327-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--max) - 460px);
  }

  .k7327-img img {
    width: 100%;
  }

  @media screen and (min-width: 1024px) {
    .k7327-desc {
      width: calc(var(--max) - 240px);
    }
  }

  @media screen and (max-width: 1024px) {
    .k7327-menu-btn {
      display: flex;
      width: calc(100% - 55px);
      margin-left: 5px;
    }

    .k7327 {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 5px;
      gap: 5px;
      margin-top: 0px;
    }

    .k7327-img {
      width: 100%;
    }

    .k7327-body {
      width: 100%;
      order: 3;
      padding: 10px;
    }

    .k7327-menu {
      width: 100%;
      float: none;
      flex-direction: column;
      order: 1;
      display: none;
    }

    .k7327-menu.active {
      display: flex;
    }

    .k7327-desc {
      width: 100% !important;
      order: 2;
    }
  }


  .moduleimg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .moduleimg > img {
    width: 100%;
    max-width: 250px;
  }

  .footer {
    position: relative;
    background: #85260f;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
  }

  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none;
  }

  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }

  .social-icon__link:hover {
    transform: translateY(-10px);
  } 

  .menu__link {
    font-size: 1.2rem;
    color: #fff !important;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer p { 
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='katman_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 640 65' style='enable-background:new 0 0 640 65;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%2385260f;%7D %3C/style%3E %3Cpath class='st0' d='M0,22.4C0,22.4,74.1,0,153,0c176.5,0,328.1,76.6,487,22.4V65H0V22.4z'/%3E%3C/svg%3E");
    background-size: 1000px 102px;
  }

  .wave#wave1 {
    z-index: 100;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }

  .wave#wave2 {
    z-index: 99;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }

  .wave#wave3 {
    z-index: 100;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }

  .wave#wave4 {
    z-index: 99;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

